<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/archive.html">archive</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/category.html">category</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/category.html">category</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/about.html">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/about.html">about</a>
				</li>			
			{% endif %}
		</div>
	</div>
</header>

